@font-face {
  font-family: Lemon;
  src: url(../assets/fonts/Lemon-Regular.ttf);
}
@font-face {
  font-family: Lemonada;
  src: url(../assets/fonts/Lemonada-VariableFont_wght.ttf);
}
@font-face {
  font-family: Merienda;
  src: url(../assets/fonts/Merienda-VariableFont_wght.ttf);
}
html body #main-index #welcome #first-moon, html body #main-index #projects #second-moon, html body #main-index #resume #third-moon, html body #main-contacts #fourth-moon, html body #main-legal #fifth-moon {
  z-index: -10;
  opacity: 50%;
}

html body header a, html footer a {
  text-decoration: none;
  color: #ede9e9;
}

html body {
  background: linear-gradient(to bottom, #0f07a5 5%, #150b81 25%, #160d5a 40%, #060c33 60%, #040820 80%, #010101 100%);
  margin: 0;
  min-height: 100vh;
  box-sizing: border-box;
  font-family: "Merienda";
  color: #ede9e9;
  background-attachment: fixed;
}
html body .card-title {
  font-family: "Lemon";
}
html body .info-text {
  font-family: "Lemonada";
}
html body header {
  position: sticky;
  top: 0;
  z-index: 100;
  border-bottom: 1px solid #7169e8;
  /*couleurs de fond*/
  background: linear-gradient(to top, #0f07a5 5%, #150b81 25%, #160d5a 40%, #060c33 60%, #040820 80%, #010101 100%);
}
html body header #logo-site {
  width: 6em;
  height: auto;
}
html body header > div > a {
  margin: 1em;
}
html body #main-index #welcome {
  margin-top: 3em;
  margin-left: 4em;
}
html body #main-index #welcome #first-moon {
  width: 32em;
  height: auto;
  margin: 0;
  position: fixed;
  bottom: 0;
  left: 0;
}
html body #main-index #welcome #card-welcome {
  background-color: #ede9e9;
  color: black;
  border: 2px solid #7169e8;
  border-radius: 0.4em;
  box-shadow: 1px 1px #7169e8;
  padding-left: 1em;
}
html body #main-index #welcome #dev-comp {
  display: grid;
  justify-items: flex-end;
  margin-top: 3em;
  margin-right: 4em;
}
html body #main-index #welcome #dev-comp > h2 {
  margin-bottom: 1em;
}
html body #main-index #welcome #dev-comp #card-comp {
  background-color: #ede9e9;
  color: black;
  border: 2px solid #7169e8;
  border-radius: 0.4em;
  box-shadow: 1px 1px #7169e8;
  padding-left: 1em;
  display: flex;
  flex-direction: column;
  justify-self: end;
  margin-right: 3em;
  width: 30em;
  height: 18em;
}
html body #main-index #welcome #dev-comp #card-comp > h3 {
  text-align: center;
  margin-top: 0.5em;
}
html body #main-index #welcome #dev-comp #card-comp #comp-list {
  font-family: "Lemonada";
  font-size: 12px;
  margin-top: 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
html body #main-index #welcome #dev-comp #card-comp #comp-list .radio {
  padding-top: 10px;
}
html body #main-index #welcome #dev-comp #card-comp #comp-list > h4 {
  font-size: 15px;
}
html body #main-index #projects {
  margin-top: 5em;
  margin-bottom: 3em;
}
html body #main-index #projects > h2 {
  text-align: center;
  margin-right: 4.5em;
}
html body #main-index #projects #second-moon {
  width: 35em;
  height: auto;
  position: fixed;
  top: 15%;
  left: 18%;
}
html body #main-index #projects .card-real {
  background-color: #ede9e9;
  color: black;
  border: 2px solid #7169e8;
  border-radius: 0.4em;
  box-shadow: 1px 1px #7169e8;
  padding-left: 1em;
  height: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 2em;
}
html body #main-index #projects .card-real > h4 {
  text-align: center;
  margin-bottom: 1em;
  margin-top: 0.5em;
}
html body #main-index #projects .card-real .image-container {
  width: 90%;
  height: 10em;
  margin-left: 0.5em;
  display: flex;
}
html body #main-index #projects .card-real .image-container .real-img {
  border: 1px solid #7169e8;
  border-radius: 3px;
  margin: 0;
  height: 100%;
  width: 100%;
}
html body #main-index #projects .card-real .real-text {
  width: 90%;
  padding: 1em;
  margin: 2em;
  font-size: 12px;
}
html body #main-index #resume {
  margin: 2.5em 0 5em 4em;
  display: flex;
  flex-direction: row;
}
html body #main-index #resume #third-moon {
  width: 40em;
  height: auto;
  position: fixed;
  top: 12%;
  left: 22%;
}
html body #main-index #resume #road #card-resume {
  background-color: #ede9e9;
  color: black;
  border: 2px solid #7169e8;
  border-radius: 0.4em;
  box-shadow: 1px 1px #7169e8;
  padding-left: 1em;
}
html body #main-index #resume #resume-img {
  background-color: #ede9e9;
  color: black;
  border: 2px solid #7169e8;
  border-radius: 0.4em;
  box-shadow: 1px 1px #7169e8;
  padding-left: 1em;
  margin-left: 23em;
}
html body #main-contacts {
  margin-top: 3em;
  display: grid;
  justify-items: center;
}
html body #main-contacts #fourth-moon {
  width: 40em;
  height: auto;
  position: fixed;
  top: 5%;
  left: 54%;
}
html body #main-contacts > h2 {
  margin-bottom: 1em;
}
html body #main-contacts #card-form {
  padding: 1em 0 5em 0;
  background-color: #ede9e9;
  color: black;
  border: 2px solid #7169e8;
  border-radius: 0.4em;
  box-shadow: 1px 1px #7169e8;
  padding-left: 1em;
}
html body #main-contacts #card-form form {
  display: grid;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
html body #main-contacts #card-form form label {
  font-family: "Lemonada";
  margin-top: 0.7em;
}
html body #main-contacts #card-form form .form-square {
  width: 16em;
  border: 1px solid #7169e8;
  border-radius: 4px;
  margin-top: 0.3em;
}
html body #main-contacts #card-form form textarea {
  height: 7em;
}
html body #main-contacts #card-form form #contact-btn {
  margin-top: 2em;
  border: 1px solid #1b15bE;
  border-radius: 4px;
  background-color: #4843d7;
  color: #ede9e9;
}
html body #main-legal {
  margin-top: 3em;
  display: grid;
  justify-items: center;
}
html body #main-legal h2 {
  text-align: center;
}
html body #main-legal #fifth-moon {
  width: 45em;
  height: auto;
  position: fixed;
  top: 20%;
  left: 72%;
}
html body #main-legal #card-legal {
  background-color: #ede9e9;
  color: black;
  border: 2px solid #7169e8;
  border-radius: 0.4em;
  box-shadow: 1px 1px #7169e8;
  padding-left: 1em;
  margin-top: 2em;
  height: 30em;
}
html body #main-legal #card-legal > article {
  padding: 2em;
}
html footer {
  border-top: 1px solid #7169e8;
  width: 100%;
  height: auto;
  padding-top: 1em;
  padding-bottom: 1em;
  margin-top: auto;
  bottom: 0;
  position: fixed;
  /*couleurs du footer*/
  background: linear-gradient(to bottom, #0f07a5 5%, #150b81 25%, #160d5a 40%, #060c33 60%, #040820 80%, #010101 100%);
  display: flex;
  justify-content: space-evenly;
}
html footer #legal {
  font-size: 13px;
}/*# sourceMappingURL=style.css.map */