@font-face {
  font-family: Lemon;
  src: url(../assets/fonts/Lemon-Regular.ttf);
}
@font-face {
  font-family: Lemonada;
  src: url(../assets/fonts/Lemonada-VariableFont_wght.ttf);
}
@font-face {
  font-family: Merienda;
  src: url(../assets/fonts/Merienda-VariableFont_wght.ttf);
}
html body #main-index #first-moon, html body #main-index #projects #second-moon {
  opacity: 50%;
}

img {
  width: 20em;
  height: auto;
}

header a,
footer a {
  text-decoration: none;
  color: #ede9e9;
}

.card-title {
  font-family: "lemon";
}

.info-text {
  font-family: "lemonada";
}

html body {
  box-sizing: border-box;
  font-family: "Merienda";
  color: #ede9e9;
  background: linear-gradient(to bottom, #0f07a5 5%, #150b81 25%, #160d5a 40%, #060c33 60%, #040820 80%, #010101 100%);
  background: bightness(5%);
  background-attachment: fixed;
}
html body header {
  position: sticky;
  /*voir pourquoi ca ne fonctionne pas*/
  border-bottom: 1px solid #7169e8;
  /*couleurs de fond*/
  background: linear-gradient(to top, #0f07a5 5%, #150b81 25%, #160d5a 40%, #060c33 60%, #040820 80%, #010101 100%);
  /*taille du logo*/
}
html body header #logo-site {
  width: 6em;
  height: auto;
}
html body header > div > a {
  margin: 1em;
}
html body #main-index #first-moon {
  width: 25em;
  height: auto;
  margin: 0;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: -10;
}
html body #main-index #card-welcome {
  background-color: #ede9e9;
  color: black;
  border: 2px solid black;
  border-radius: 0.4em;
  box-shadow: 2px 2px #7169e8;
  padding-left: 1em;
}
html body #main-index #welcome {
  margin-top: 5em;
  margin-left: 5em;
}
html body #main-index #projects {
  margin-top: 3em;
  margin-bottom: 3em;
}
html body #main-index #projects > h2 {
  text-align: center;
}
html body #main-index #projects #second-moon {
  width: 25em;
  height: auto;
  margin-left: 13em;
  margin-top: 6em;
  position: fixed;
  z-index: -10;
}
html body #main-index #projects .card-real {
  display: flex;
  flex-direction: column;
  background-color: #ede9e9;
  color: black;
  justify-items: center;
  border: 2px solid black;
  border-radius: 0.4em;
  box-shadow: 4px 4px #7169e8;
  margin: 2em;
}
html body #main-index #projects .card-real > h3 {
  text-align: center;
}
html body #main-index #projects .card-real .slide {
  position: relative;
  width: 90%;
  height: auto;
  overflow: hidden;
  margin: auto;
  display: flex;
  background-color: antiquewhite;
  border: 1px solid #7169e8;
  border-radius: 5px;
}
html body #main-index #projects .card-real .slide-img {
  display: inline-block;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}
html body #main-index #projects .card-real .slide.active {
  opacity: 1;
}
html body #main-index #projects .card-real .slide-control {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  font-weight: bold;
  color: black;
  cursor: pointer;
  z-index: 10;
}
html body #main-index #projects .card-real #slide-left {
  left: 0.5em;
}
html body #main-index #projects .card-real #slide-right {
  right: 0.5em;
}
html body #main-index #projects .card-real .real-text {
  width: 90%;
  padding: 1em;
  margin: 2em;
  font-family: "lemonada";
  font-size: 12px;
}
html body #main-index #resume-img, html body #main-index #card-resume {
  display: flex;
  flex-direction: column;
  background-color: #ede9e9;
  color: black;
  justify-items: center;
  border: 2px solid black;
  border-radius: 0.4em;
  box-shadow: 4px 4px #7169e8;
}
html body #main-contacts #card-form {
  background-color: #ede9e9;
  color: black;
  justify-items: center;
  border: 2px solid black;
  border-radius: 0.4em;
  box-shadow: 4px 4px #7169e8;
  text-align: center;
}
html body #main-contacts #card-form > label {
  font-family: "lemonada";
}
html body #main-legal #card-legal {
  background-color: #ede9e9;
  color: black;
  justify-items: center;
  border: 2px solid black;
  border-radius: 0.4em;
  box-shadow: 4px 4px #7169e8;
  text-align: center;
  font-family: "lemonada";
}
html body footer {
  border-top: 1px solid #7169e8;
  /*regler la position du footer*/
  width: 100%;
  height: auto;
  padding-top: 1em;
  padding-bottom: 1em;
  margin-top: auto;
  bottom: 0;
  position: fixed;
  /*couleurs du footer*/
  background: linear-gradient(to bottom, #0f07a5 5%, #150b81 25%, #160d5a 40%, #060c33 60%, #040820 80%, #010101 100%);
  display: flex;
  justify-content: space-evenly;
}
html body footer #legal {
  font-size: 13px;
}/*# sourceMappingURL=style.css.map */