@use "sass:map";
@use '_colors.scss' as c;

@mixin cardGeneral {
    background-color: map-get(c.$colors, 'light');
    color: black;
    border: 2px solid map-get(c.$colors, 'lavander');
    border-radius: 0.4em;
    box-shadow: 1px 1px map-get(c.$colors, 'lavander');
    padding-left: 1em;
}

@mixin gradientBottom {
    background: linear-gradient(to bottom,
            #0f07a5 5%,
            #150b81 25%,
            #160d5a 40%,
            #060c33 60%,
            #040820 80%,
            #010101 100%);
}