@use "sass:map";
@use '_colors.scss' as c;
@use '_fonts.scss' as f;
@use '_extend.scss';
@use '_mixins.scss' as m;


html {
    
    // body
    body {
        .card-title {
            font-family: map-get(f.$fonts, titleFont);
        }

        .info-text {
            font-family: map-get(f.$fonts, cardFont);
        }

        @include m.gradientBottom;
        margin: 0;
        min-height: 100vh;
        box-sizing: border-box;
        font-family: map-get(f.$fonts, generalFont);
        color: map-get(c.$colors, 'light');
        background-attachment: fixed;

        // header
        header {
            position: sticky;
            top: 0;
            z-index: 100;
            border-bottom: 1px solid map-get(c.$colors, 'lavander');
            /*couleurs de fond*/
            background: linear-gradient(to top,
                    #0f07a5 5%,
                    #150b81 25%,
                    #160d5a 40%,
                    #060c33 60%,
                    #040820 80%,
                    #010101 100%);

            a {
                @extend %links
            }

            #logo-site {
                width: 6em;
                height: auto;
            }

            >div>a {
                margin: 1em;
            }
        }

        // main
        #main-index {

            // acceuil
            #welcome {
                margin-top: 3em;
                margin-left: 4em;

                #first-moon {
                    @extend %blue-moon;
                    width: 32em;
                    height: auto;
                    margin: 0;
                    position: fixed;
                    bottom: 0;
                    left: 0;
                }

                #card-welcome {
                    @include m.cardGeneral
                }

                #dev-comp {
                    display: grid;
                    justify-items: flex-end;
                    margin-top: 3em;
                    margin-right: 4em;

                    >h2 {
                        margin-bottom: 1em
                    }

                    #card-comp {
                        @include m.cardGeneral;
                        display: flex;
                        flex-direction: column;
                        justify-self: end;
                        margin-right: 3em;
                        width: 30em;
                        height: 18em;

                        >h3 {
                            text-align: center;
                            margin-top: 0.5em;
                        }

                        #comp-list {
                            font-family: map-get(f.$fonts, cardFont);
                            font-size: 12px;
                            margin-top: 1em;
                            display: flex;
                            flex-direction: row;
                            justify-content: space-evenly;

                            .radio {
                                padding-top: 10px;
                            }

                            >h4 {
                                font-size: 15px;
                            }
                        }
                    }

                }
            }

            // réalisations
            #projects {
                margin-top: 5em;
                margin-bottom: 3em;

                >h2 {
                    text-align: center;
                    margin-right: 4.5em;
                }

                #second-moon {
                    @extend %blue-moon;
                    width: 35em;
                    height: auto;
                    position: fixed;
                    top: 15%;
                    left: 18%;
                }

                .card-real {
                    @include m.cardGeneral;
                    height: auto;
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    margin: 2em;

                    >h4 {
                        text-align: center;
                        margin-bottom: 1em;
                        margin-top: 0.5em;
                    }

                    .image-container {
                        width: 90%;
                        height: 10em;
                        margin-left: 0.5em;
                        display: flex;

                        .real-img {
                            border: 1px solid map-get(c.$colors, 'lavander');
                            border-radius: 3px;
                            margin: 0;
                            height: 100%;
                            width: 100%;
                        }
                    }

                    .real-text {
                        width: 90%;
                        padding: 1em;
                        margin: 2em;
                        font-size: 12px;
                    }
                }
            }

            // page cv
            #resume {
                margin: 2.5em 0 5em 4em;
                display: flex;
                flex-direction: row;

                #third-moon {
                    @extend %blue-moon;
                    width: 40em;
                    height: auto;
                    position: fixed;
                    top: 12%;
                    left: 22%
                }

                #road {
                    #card-resume {
                        @include m.cardGeneral;
                    }
                }

                #resume-img {
                    @include m.cardGeneral;
                    margin-left: 23em;
                }
            }
        }

        // Page de contact
        #main-contacts {
            margin-top: 3em;
            display: grid;
            justify-items: center;

            #fourth-moon {
                @extend %blue-moon;
                width: 40em;
                height: auto;
                position: fixed;
                top: 5%;
                left: 54%
            }
            >h2 {
                margin-bottom: 1em;
            }

            #card-form {
                padding: 1em 0 5em 0;
                @include m.cardGeneral;
                form {
                    display: grid;
                    flex-direction: column;
                    justify-content: center;
                    text-align: center;
                    label {
                        font-family: map-get(f.$fonts, cardFont);
                        margin-top: 0.7em;
                    }
                    .form-square {
                        width: 16em;
                        border: 1px solid map-get(c.$colors, 'lavander');
                        border-radius: 4px;
                        margin-top: 0.3em;
                    }
                    textarea {
                        height: 7em;
                    }
                    #contact-btn {
                        margin-top: 2em;
                        border: 1px solid map-get(c.$colors, 'nightblue');
                        border-radius: 4px;
                        background-color: map-get(c.$colors, 'dusk');
                        color: map-get(c.$colors, 'light');
                    }
                }
            }
        }

        // Mentions légales
        #main-legal {
            margin-top: 3em;
            display: grid;
            justify-items: center;
            h2 {
                text-align: center
            }
            #fifth-moon {
                @extend %blue-moon;
                width: 45em;
                height: auto;
                position: fixed;
                top: 20%;
                left: 72%
            }
            #card-legal {
                @include m.cardGeneral;
                margin-top: 2em;
                height: 30em;
                >article {
                    padding: 2em;
                }
            }
        }

    }

    footer {
        border-top: 1px solid map-get(c.$colors, 'lavander');
        width: 100%;
        height: auto;
        padding-top: 1em;
        padding-bottom: 1em;
        margin-top: auto;
        bottom: 0;
        position: fixed;
        /*couleurs du footer*/
        @include m.gradientBottom;
        display: flex;
        justify-content: space-evenly;

        a {
            @extend %links
        }

        #legal {
            font-size: 13px;
        }
    }
}