@use "sass:map";
@use '_colors.scss' as c;
@use '_fonts.scss' as f;
@use '_extend.scss';
@use '_mixins.scss' as m;

// provisoire pour avoir des images plus petites durant le dev
img {
    width: 20em;
    height: auto;
}

header,
footer {
    a {
        text-decoration: none;
        color: map-get(c.$colors, light);
    }
}

html {

    // body
    body {
        box-sizing: border-box;
        font-family: 'Merienda';
        color: map-get(c.$colors, 'light');
        background: linear-gradient(to bottom,
                #0f07a5 5%,
                #150b81 25%,
                #160d5a 40%,
                #060c33 60%,
                #040820 80%,
                #010101 100%);
        background: bightness(5%);
        background-attachment: fixed;

        // header
        header {
            position: sticky;
            /*voir pourquoi ca ne fonctionne pas*/
            border-bottom: 1px solid map-get(c.$colors, 'lavander');
            /*couleurs de fond*/
            background: linear-gradient(to top,
                    #0f07a5 5%,
                    #150b81 25%,
                    #160d5a 40%,
                    #060c33 60%,
                    #040820 80%,
                    #010101 100%);

            /*taille du logo*/
            #logo-site {
                width: 6em;
                height: auto;
            }

            >div>a {
                margin: 1em;
            }
        }

        #main-index {

            // acceuil
            #first-moon {
                width: 25em;
                height: auto;
                margin: 0;
                position: fixed;
                bottom: 0;
                left: 0;
                z-index: -10;
                @extend %blue-moon;
            }

            #card-welcome {
                background-color: map-get(c.$colors, 'light');
                color: black;
                border: 2px solid black;
                border-radius: 0.4em;
                box-shadow: 4px 4px map-get(c.$colors, 'lavander');
                padding-left: 1em;
            }

            #welcome {
                margin-top: 5em;
                margin-left: 5em;
            }

            // réalisations
            #projects {
                margin-top: 3em;
                margin-bottom: 3em;
                >h2 {
                    text-align: center;
                }
                #second-moon {
                    width: 25em;
                    height: auto;
                    margin-left: 13em;
                    margin-top: 6em;
                    position: fixed;
                    z-index: -10;
                    @extend %blue-moon;
                }
                .card-real {
                    display: flex;
                    flex-direction: column;
                    background-color: map-get(c.$colors, 'light');
                    color: black;
                    justify-items: center;
                    border: 2px solid black;
                    border-radius: 0.4em;
                    box-shadow: 4px 4px map-get(c.$colors, 'lavander');
                    margin: 2em;
    
                    >h3 {
                        font-family: 'lemon';
                        text-align: center;
                    }
    
                    .slide {
                        position: relative;
                        width: 90%;
                        height: auto;
                        overflow: hidden;
                        margin: auto;
                        display: flex;
                        background-color: antiquewhite;
                        border: 1px solid map-get(c.$colors, 'lavander');
                        border-radius: 5px;
                    }
    
                    .slide-img {
                        display: inline-block;
                        opacity: 0;
                        transition: all 0.5s ease-in-out;
                    }
    
                    .slide.active {
                        opacity: 1;
                    }
    
                    .slide-control {
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        font-size: 20px;
                        font-weight: bold;
                        color: black;
                        cursor: pointer;
                        z-index: 10;
                    }
    
                    #slide-left {
                        left: 0.5em;
                    }
    
                    #slide-right {
                        right: 0.5em;
                    }
    
                    .real-text {
                        width: 90%;
                        padding: 1em;
                        margin: 2em;
                        font-family: 'lemonada';
                        font-size: 12px;
                    }
                }
            }

            // page cv
            #resume-img, #card-resume {
                display: flex;
                flex-direction: column;
                background-color: map-get(c.$colors, 'light');
                color: black;
                justify-items: center;
                border: 2px solid black;
                border-radius: 0.4em;
                box-shadow: 4px 4px map-get(c.$colors, 'lavander');
            }
        }
        #main-contacts {
            #card-form {
                background-color: map-get(c.$colors, 'light');
                color: black;
                justify-items: center;
                border: 2px solid black;
                border-radius: 0.4em;
                box-shadow: 4px 4px map-get(c.$colors, 'lavander');
                text-align: center;
                >label {
                    font-family: 'lemonada';
                }
            }
        }
        #main-legal {
            #card-legal {
                background-color: map-get(c.$colors, 'light');
                color: black;
                justify-items: center;
                border: 2px solid black;
                border-radius: 0.4em;
                box-shadow: 4px 4px map-get(c.$colors, 'lavander');
                text-align: center;
                font-family: 'lemonada';
            }
        }

        // footer
        footer {
            border-top: 1px solid map-get(c.$colors, 'lavander');
            /*regler la position du footer*/
            width: 100%;
            height: auto;
            padding-top: 1em;
            padding-bottom: 1em;
            margin-top: auto;
            bottom: 0;
            position: fixed;
            /*couleurs du footer*/
            background: linear-gradient(to bottom,
                    #0f07a5 5%,
                    #150b81 25%,
                    #160d5a 40%,
                    #060c33 60%,
                    #040820 80%,
                    #010101 100%);
            display: flex;
            justify-content: space-evenly;

            #legal {
                font-size: 13px;
            }
        }
    }
}