@use "sass:map";
@use '_colors.scss' as c;
@use '_fonts.scss' as f;
@use '_extend.scss';
@use '_mixins.scss' as m;

// provisoire pour avoir des images plus petites durant le dev
img {
    width: 20em;
    height: auto;
}

#logo-site {
    width: 10em;
    height: auto;
}


html {

    /*body*/
    body {
        font-family: 'Merienda';
        box-sizing: border-box;
        font-family: 'Merienda';
        color: map-get(c.$colors, 'light');
        background: linear-gradient(to bottom,
                #0f07a5 5%,
                #150b81 25%,
                #160d5a 40%,
                #060c33 60%,
                #040820 80%,
                #010101 100%);
        background: bightness(5%);
        background-attachment: fixed;

        /*header*/
        header {
            position: sticky;
            /*voir pourquoi ca ne fonctionne pas*/
            border-bottom: 1px solid map-get(c.$colors, 'lavander');
            /*couleurs de fond*/
            background: linear-gradient(to top,
                    #0f07a5 5%,
                    #150b81 25%,
                    #160d5a 40%,
                    #060c33 60%,
                    #040820 80%,
                    #010101 100%);

            /*taille du logo*/
            #logo-site {
                width: 6em;
                height: auto;
            }

            >div>a {
                margin: 1em;
            }
        }

        /*main*/
        main {

            // accueil
            #moon {
                width: 25em;
                height: auto;
                margin: 0;
                position: fixed;
                bottom: 0;
                left: 0;
                z-index: -10;
                opacity: 50%;
            }

            // réalisations
            .card-real {
                background-color: map-get(c.$colors, 'light');
                justify-items: center;
                border: 2px solid black;
                border-radius: 0.4em;
                box-shadow: 4px 4px map-get(c.$colors, 'lavander');

                >h3 {
                    font-family: 'lemon';
                    text-align: center;
                }

                .slide-img {
                    width: 90%;
                    border: 1px solid black;
                }

                ;

                .real-text {
                    width: 80%;
                    font-family: 'lemonada';
                    font-size: 12px;
                    border: 1px solid red;
                }
            }
        }

        /*footer*/
        footer {
            border-top: 1px solid map-get(c.$colors, 'lavander');
            /*regler la position du footer*/
            width: 100%;
            height: auto;
            padding-top: 1em;
            padding-bottom: 1em;
            margin-top: auto;
            bottom: 0;
            position: fixed;
            /*couleurs du footer*/
            background: linear-gradient(to bottom,
                    #0f07a5 5%,
                    #150b81 25%,
                    #160d5a 40%,
                    #060c33 60%,
                    #040820 80%,
                    #010101 100%);
            display: flex;
            justify-content: space-evenly;

            #legal {
                font-size: 13px;
            }
        }
    }
}