@font-face {
    font-family: Lemon ;
    src: url(../assets/fonts/Lemon-Regular.ttf);
}

@font-face {
    font-family: Lemonada;
    src: url(../assets/fonts/Lemonada-VariableFont_wght.ttf);
}

@font-face {
    font-family: Merienda;
    src: url(../assets/fonts/Merienda-VariableFont_wght.ttf);
}

$fonts:(
    generalFont: 'Merienda',
    titleFont: 'Lemon',
    cardFont: 'Lemonada',
)